.env
.idea
.git
db.sqlite3
venv
posts/migrations
accounts/migrations
security/migrations

app/__pycache__
posts/__pycache__
accounts/__pycache__
security/__pycache__

media/profile_images/*
media/post_images/*

build/*

db.json